<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.zzuli.mapper.UserOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.zzuli.bean.UserOrder" >
    <id column="uo_id" property="uoId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_datetime" property="orderDatetime" jdbcType="TIMESTAMP" />
    <result column="receiver_addr" property="receiverAddr" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uo_id, user_id, order_datetime, receiver_addr, receiver_name, receiver_tel, order_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_orders
    where uo_id = #{uoId,jdbcType=INTEGER}
  </select>
    <select id="selectLastOrderId" resultType="java.lang.Integer">
      SELECT uo_id from user_orders WHERE user_id = #{userId} ORDER BY uo_id DESC LIMIT 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_orders
    where uo_id = #{uoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.zzuli.bean.UserOrder" >
    insert into user_orders (uo_id, user_id, order_datetime, 
      receiver_addr, receiver_name, receiver_tel, 
      order_status)
    values (#{uoId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderDatetime,jdbcType=TIMESTAMP}, 
      #{receiverAddr,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.zzuli.bean.UserOrder" >
    insert into user_orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uoId != null" >
        uo_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderDatetime != null" >
        order_datetime,
      </if>
      <if test="receiverAddr != null" >
        receiver_addr,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverTel != null" >
        receiver_tel,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uoId != null" >
        #{uoId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderDatetime != null" >
        #{orderDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiverAddr != null" >
        #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.zzuli.bean.UserOrder" >
    update user_orders
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="receiverAddr != null" >
        receiver_addr = #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
    </set>
    where uo_id = #{uoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.zzuli.bean.UserOrder" >
    update user_orders
    set user_id = #{userId,jdbcType=INTEGER},
      receiver_addr = #{receiverAddr,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=CHAR}
    where uo_id = #{uoId,jdbcType=INTEGER}
  </update>
</mapper>